{{#each this}}
<li>
    <p>{{dt}}</p>
    <p>date</p>
    <img src="{{city.weather}}" alt="icon">
    <div>
        <div>
        <p>min</p>
        <p>{{city.main.temp_min}}</p>
    </div>
    <div>
        <p>max</p>
        <p>{{city.main.temp_max}}</p>
    </div>
    </div>
    <button>more info</button>
</li>
{{/each}}